<div class="new--topics">
    <h3 class="new-topic--title">Seu tópico foi enviado com sucesso! :D</h3>
    <p class="description--topic">
        Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu tópico for respondido!
    </p>
    <a href="#" class="more--works" style="
        color: #F48F44;
        text-align: center;
        font-family: Quicksand;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 137.5%;
        text-decoration-line: underline;
        outline-color: #F48F44;
    ">Descubra outros trabalhos!</a>
    <div class="send--area">
        <button>Enviar</button>
    </div>

    <div class="responses">
        <div class="alig">
            <figure class="cheks">
                <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/512x512/checks.png"
                    alt="checks">
            </figure>
            <span class="response--description">Aguardando feedback dos autores</span>
        </div>

        <a href="#" class="more--works" style="
            color: #F48F44;
            text-align: center;
            font-family: Quicksand;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 137.5%;
            text-decoration-line: underline;
            outline-color: #F48F44;
            margin-top: 2em;
        ">Editar tópico</a>
        <div class="comment">
            <h5 class="comment--assunt">Assunto da pergunta aparece aqui</h5>
            <span class="comment--author">Carlos Henrique Santos</span> <br><br>
            <p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e
                impacto
                de processo formativo situado impacto de processo formativo processo...</p>
            <div class="btn--comment">
                <div class="more"><img src="../assets/mais informações.svg" alt="tres pontinhos"></div>
                <button class="favorite--marker"><img src="../assets/coracao.png" alt="coração"></button>
                <div class="text--coments">
                    <span class="text--comment">1 like</span>
                    <span class="text--comment">1 resposta</span>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="create-newTopic"><img src="../assets/+.svg" alt="sinal de mais"> criar tópico</a>