<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&family=Roboto&family=Ubuntu:wght@700&display=swap"
  rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@400;500&family=Roboto&family=Ubuntu:wght@700&display=swap"
  rel="stylesheet">


<section class="base-style">
  <nav>
    <div class="logo">
      slaca 2019
    </div>
    <figure>
      <img src="../assets/dewey 4.png" alt="laranja">
    </figure>
    <ul class="menu">
      <li class="option">
        <a href="#">Apresentação</a>
      </li>
      <li class="option">
        <a href="#">Comitês</a>
      </li>
      <li class="option">
        <a href="#">Autores</a>
      </li>
      <li class="option">
        <a href="#">Eixos temáticos</a>
      </li>
      <li class="option">
        <a href="#">Trabalhos</a>
      </li>
      <li class="option">
        <a href="#">Contato</a>
      </li>
    </ul>
  </nav>
  <main>
    <section class="top--bar">
      <div>
        <span>Anais do Simpósio Latino Americano de Ciências de Alimentos</span>
        <h3>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos </h3>
        <span>ISSN: 1234-5678</span>
      </div>

      <div class="language--support">
        <select class="language">
          <optgroup>
            <option value="PT-BR">PT, BR</option>
            <option value="EN-US">EN, US</option>
            <option value="EN-US">EN, EU</option>
          </optgroup>
        </select>
      </div>

      <div class="user--area">
        <div class="user--area--text">
          <div class="welcome">Bem Vindo!</div>
          <span>alguem12@galoascience.com</span>
        </div>
        <figure class="user--area--photo">
          <img src="../assets/image.png" alt="">
        </figure>
      </div>
    </section>

    <section class="main--content">
      <section class="video--info">
        <div class="row">
          <div class="col-md-8 title--video">
            Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de
            Campinas/SP
            <video class="video--screen" controls>
              <source src="../assets/video.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="col-md-4 references">
            <aside class="reference--items">
              <div class="buttons--author">
                <button class="btn--academic"><img src="../assets/Sem título.png" alt="icone de download"
                    class="download">Download</button>
                <button class="btn--academic"><img src="../assets/estrela.png" alt="estrela arredondada"></button>
                <button class="btn--academic"><img src="../assets/doi.png" alt="código doi do profissional"></button>
              </div>
              <span class="references--instruction">COMO CITAR ESSE TRABALHO?</span>
              <div>
                <div class="description--header">
                  <p>Detalhes</p>
                </div>
                <div class="description--info">
                  <blockquote>
                    <p class="info1">
                      Tipo de Apresentação: <span>Pôster</span><br>
                      Eixo temático: <span>Alimentação e saúde (AS)</span><br>
                      Palavras-chaves: <span>Alimentos funcionais, alimentação escolar.</span>
                    </p>
                    <p class="info2">
                      <span class="authors">Autores:</span>
                      <span>Galileo Galilei¹</span>
                      <span>Berta Lange de Morretes²</span>
                      <span>Isaac Newton³</span>
                      <span>Cesar Lattes¹</span>
                      <span>Stephen Hawking⁴</span>
                    </p>
                    <p class="info3">
                      <span>¹Universidade Estadual de Campinas</span>
                      <span>²Universidade de São Paulo</span>
                      <span>³Instituto Nacional de Pesquisas Espaciais</span>
                      <span>⁴Universidade Federal do Rio de Janeiro</span>
                    </p>
                  </blockquote>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </section>
      <section>
        <div class="description">
          <div class="description--header">
            <p>Resumo</p>
          </div>
          <div class="full--description">
            <div class="description--text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut,
              commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed
              magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi
              tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et non
              lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum
              Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque
              sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum. Etiam aliquam dictum nisl, vel
              aliquet enim accumsan sit ametl accumsant... aliquet enim accumsan sit ametl accumsant... <a
                class=" expand-button" onclick="toggleAccordion('content1')">Leia Mais</a>
            </div>

            <div id="content1" class="accordion">
              <p>
                Conteúdo a ser exibido quando 'Leia Mais' é clicado.

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut,
                commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros
                sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec
                finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum
                lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida
                eros vestibulum.

                Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat.
                Proin dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris
                sodales id. Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis.
                Etiam finibus urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem.
                Aenean interdum quis diam ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam
                in laoreet odio.

                Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec
                eleifend vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus
                maximus dui eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis
                turpis. Praesent blandit elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis
                consectetur non odio. Phasellus at lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu
                scelerisque orci. Quisque sagittis, mi vitae pharetra iaculis, orci elit eleifend massa, eu posuere
                mauris odio id odio. Morbi eu libero luctus, consectetur lorem vel, interdum sapien. Aenean in porta
                arcu. Maecenas eu maximus massa.

                Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut
                hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus
                dolor at viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem.
                Aliquam at malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat
                vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="discutions">
          <div class="description--header">
            <p>Discussões</p>
          </div>
          <div class="question">
            <p class="feedback--author">Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</p>
            <div class="informations">
              <label class="assunt">Assunto <br>
                <input type="text" class="text--assunt"
                  placeholder="Defina um tópico sucinto para notificar os autores...">
              </label><br><br>

              <label class="assunt">Conteúdo <br>
                <textarea name="" id="" cols="30" rows="10" class="text--content text--assunt"></textarea>
              </label>

              <div class="send--area">
                <button>Enviar</button>
              </div>
            </div>
            <hr>
            <div class="all--comments">
              <div class="comment">
                <h5 class="comment--assunt">Assunto da pergunta aparece aqui</h5>
                <span class="comment--author">Carlos Henrique Santos</span> <br><br>
                <p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e
                  impacto
                  de processo formativo situado impacto de processo formativo processo...</p>
                <div class="btn--comment">
                  <div class="more"><img src="../assets/mais informações.svg" alt="tres pontinhos"></div>
                  <button class="favorite--marker"><img src="../assets/coracao.png" alt="coração"></button>
                  <div class="text--coments">
                    <span class="text--comment">1 like</span>
                    <span class="text--comment">1 resposta</span>
                  </div>
                </div>
              </div>
              <div class="comment">
                <h5 class="comment--assunt">Assunto da pergunta aparece aqui</h5>
                <span class="comment--author">Carlos Henrique Santos</span> <br><br>
                <p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e
                  impacto
                  de processo formativo situado impacto de processo formativo processo...</p>
                <div class="btn--comment">
                  <div class="more"><img src="../assets/mais informações.svg" alt="tres pontinhos"></div>
                  <button class="favorite--marker"><img src="../assets/coracao.png" alt="coração"></button>
                  <div class="text--coments">
                    <span class="text--comment">1 like</span>
                    <span class="text--comment">1 resposta</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <figure>
          <img src="../assets/imagem - footer.png" alt="">
        </figure>
      </footer>
    </section>
  </main>
</section>

<script>
  function toggleAccordion(id) {
    var element = document.getElementById(id);
    var button = document.querySelector('.expand-button');
    if (element.style.display === 'none' || element.style.display === '') {
      element.style.display = 'block';
      button.innerHTML = 'Mostrar Menos';
    } else {
      element.style.display = 'none';
      button.innerHTML = 'Leia Mais';
    }
  }
</script>