<div class="new--topics">
    <h3 class="new-topic--title">Compartilhe suas ideias ou dúvidas com os autores!</h3>
    <div class="icons">
        <img src="../assets/planta.svg" alt="planta">
        <img src="../assets/chat.svg" alt="chat">
        <img src="../assets/person.svg" alt="pessoas">
    </div>
    <p class="description--topic">
        Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus
        questionamentos ou sugestões para o autor!
    </p>
</div>
<a href="#" class="create-newTopic"><img src="../assets/+.svg" alt="sinal de mais"> criar tópico</a>