<p class="feedback--author">Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</p>
<div>
    <label class="assunt">Assunto <br>
        <input type="text" class="text--assunt" placeholder="Defina um tópico sucinto para notificar os autores...">
    </label><br><br>

    <label class="assunt">Conteúdo <br>
        <textarea name="" id="" cols="30" rows="10" class="text--content text--assunt"></textarea>
    </label>

    <div class="send--area">
        <button>Enviar</button>
    </div>
</div>